{#
/**
* @file
* Default theme implementation to display the inline iframe from Acquia dam.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   iframe tag.
* - src: Iframe source.
*
* @ingroup themeable
*/
#}
<div style='position:relative;width:100%;height:0;padding-bottom:56.25%;'>
  <iframe {{ attributes }} src={{ src }}
    webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0' allowtransparency='true' scrolling='no'
    style='position:absolute;top:0;left:0;width:100%;height:100%;'></iframe>
</div>
